<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>窟窿带神</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5e0039d2e2bafecb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cnklds.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cnklds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101561682</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoabedpquxjackuhytt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>xianliao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xianliaomfK4ivhTYSvcnua0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2019030863459737</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipaytlshare</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>xianliao</string>
		<string>dingtalk-open</string>
		<string>dingtalk</string>
		<string>mttbrowser</string>
		<string>mqqbrowser</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzonewx</string>
		<string>wtloginqzone</string>
		<string>mqzoneshare</string>
		<string>mqzonev2</string>
		<string>mqzone</string>
		<string>mqqwpa</string>
		<string>wtloginmqq2</string>
		<string>wtloginmqq</string>
		<string>mqzoneopensdk</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkdataline</string>
		<string>mqqconnect</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>safepay</string>
		<string>cnklds</string>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>窟窿带神将使用您的定位服务，是否打开？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>窟窿带神将使用您的定位服务，是否打开？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>实时聊天，需要打开您的语音权限</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允许窟窿带神将访问相册吗？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允许窟窿带神访问相册吗？</string>
	<key>UIAppFonts</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
